extends layout

block content
    h1=title 
    p Welcome Sushma Mundlamuri
    button(onclick="goFaster()", class="btn-secondary") Press Me

    div#faster Increase the speed
    div(id="output") MPH #{mph} with change #{change}
    script.
      var mph = 20;
      var change = 1;

      function goFaster() {
        mph += change;
        change++;
        var outputDiv = document.getElementById("output");
        outputDiv.textContent = `MPH ${mph} with change ${change}`;
      }
      hr
      a(href='/shoes') shoeslink
