extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let shoeid = toShow._id
    - let shoe_brand = toShow.shoe_brand
    - let shoe_size = toShow.shoe_size
    - let shoe_price = toShow.shoe_price
    - let actionid = "/resource/shoess/" + shoeid
    script.
      let actionid = "#{actionid}"
    div
      .row
        .shoesAttr.mr-3 shoes ID is:
        div #{shoeid}
      .row
        .shoeAttr.mr-3 shoe brand is:
        div #{shoe_brand}
      .row
        .shoeAttr.mr-3 shoe size is:
        div #{shoe_size}
      .row
        .shoeAttr.mr-3 shoe price is:
        div #{shoe_price}
      button.btn.btn-danger.m-2(onclick="deleteOnid()") Delete
      button.btn.btn-secondary.m-2(onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/shoes'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.text(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/costumes'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }